.video-player-container {
    height: calc(100vh - 4.5rem);
    /* overflow: auto; */
}

.components_video-player {
    width: 100%;
}

.components_video-player {
    overflow: auto;
}

.components_video-player::-webkit-scrollbar {
    width: 10px;
    background-color: var(--dark-tertiary);
}

.components_video-player::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--dark);
}

@media screen and (max-width:650px) {
    .video-player-sidebar {
        display: none !important;
    }
    .video-player-container {
        height: calc(100vh - 9rem);
    }
}