.like-container {
    min-height: calc(100vh - 4.5rem);
}

.like-sub-container {
    position: relative;
    padding: 8px;
}

.heart-icon {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    font-size: 2rem;
}

.img-context-box {
    display: flex;
    padding: 5px 0 0 0;
}

.like-video-images {
    height: 12rem;
    min-width: 15rem;
    background-size: 100% 100%;
    border-radius: 4px;
}

.content-box:hover {
    background-color: var(--dark-secondary);
    border-radius: 4px;
    transition: 200ms;
    color: var(--secondary-bg-color);
}

.fa-xmark {
    color: var(--red);
}

@media screen and (max-width:768px) {
    .img-context-box {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:392px) {
    .like-video-images {
        height: 12rem;
        width: 100%;
        background-size: 100% 100%;
        border-radius: 4px;
    }
}